# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Output files
output/*
!output/.gitkeep

# Config files
src/config/textFlow.json